input {
  display: none;
}

label, ul {
  border: 1px solid #cecfd5;
  border-radius: 6px;
}

label {
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
}

label:hover {
  color: #ff7b29;
}

input:check+label {
  box-shadow: inset 0 100px 20px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}

nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}

input:checked~nav {
  max-height: 500px;
}

nav ul {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100px;
}

nav li {
  border-bottom: 1px solid #cecfd5
}

nav li:last-child {
  border-bottom: 0;
}

nav a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

nav a:hover {
  color: #ff7b29;
}

/* -----Atributes Styles----- */

#attSel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#attSel a {
  background-position: 0 50%;
  background-repeat: no-repeat;
  color: #0087cc;
  padding-left: 22px;
  text-decoration: none;
}

#attSel a:hover {
  color: #ff7b29;
}

/* pseudo-class styles */

#pseudoClass table {
  border-collapse: seperate;
  border-spacing: 0;
  width: 100%;
}

#pseudoClass th, #pseudoClass td {
  padding: 6px 15px;
}

#pseudoClass th {
  background: #42444e;
  color: #fff;
  text-align: left;
}

#pseudoClass tr:first-child th:first-child {
  border-top-Left-radius: 6px;
}

#pseudoClass tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

#pseudoClass td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}

#pseudoClass td:first-child {
  border-left: 1px solid #c6c9cc;
}

#pseudoClass tr:nth-child(even) td {
  background: #eaeaed;
}

#pseudoClass tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

#pseudoClass tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
/* Pseudo Element Styles */

.arrow {
  background: #2db34a;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
}
.arrow:before, .arrow:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.arrow:before {
  border-bottom: 15px solid #2db34a;
  border-left: 15px solid transparent;
  border-top: 15px solid #2db34a;
  left: -15px;
}

.arrow:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2db34a;
  border-top: 15px solid transparent;
  right: -15px;
}
.arrow:hover{
  background: #ff7b29;
}

.arrow:hover:before {
  border-bottom: 15px solid #ff7b29;
  border-top: 15px solid #ff7b29;
}

.arrow:hover:after {
  border-left: 15px solid #ff7b29;
}

section>p {
  color: blue;
}

section p {
  font-size: 20px;
  color: red;
}
